.markdown {
 /* @apply text-md leading-relaxed; */
  @apply dark:text-white;
}

/*
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}*/

/*
.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}
*/
/*
.markdown pre2 {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}*/